<!-- start favicons snippet, use https://realfavicongenerator.net/ -->
{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/apple-touch-icon.png' -%}{% endcomment %}
{% comment %}<link rel="apple-touch-icon" sizes="180x180" href="{{ __return }}">{% endcomment %}

{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/favicon-32x32.png' -%}{% endcomment %}
{% comment %}<link rel="icon" type="image/png" sizes="32x32" href="{{ __return }}">{% endcomment %}

{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/favicon-16x16.png' -%}{% endcomment %}
{% comment %}<link rel="icon" type="image/png" sizes="16x16" href="{{ __return }}">{% endcomment %}

{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/site.webmanifest' -%}{% endcomment %}
{% comment %}<link rel="manifest" href="{{ __return }}">{% endcomment %}

{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/safari-pinned-tab.svg' -%}{% endcomment %}
{% comment %}<link rel="mask-icon" href="{{ __return }}" color="#fc4d50">{% endcomment %}

{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/favicon.ico' -%}{% endcomment %}
{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/favicon.svg' -%}{% endcomment %}
{% comment %}<link rel="shortcut icon" href="{{ __return }}">{% endcomment %}

<meta name="msapplication-TileColor" content="#081a66">

{% comment %}{%- include snippets/prepend-baseurl.html path='/assets/browserconfig.xml' -%}{% endcomment %}
{% comment %}<meta name="msapplication-config" content="{{ __return }}">{% endcomment %}

<meta name="theme-color" content="#081a66">
<!-- end favicons snippet -->
