{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{% comment %}{%- elsif page.show_home_banner -%}{% endcomment %}
  {% comment %}<header class="header with-shadow" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>{% endcomment %}
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}
    <div class="main">
      <div class="header__title">
        <div class="header__brand">
          {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
          {%- include snippets/get-nav-url.html path=_paths_root -%}
          <a class="header__logo" title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{%- include svg/bitzero6white.svg -%}</a>
        </div>
        <a class="button button--secondary button--circle button--svg" target="_blank" href="https://www.linkedin.com/in/jbschooley/">{%- include svg/linkedin.svg -%}</a>
        <a class="button button--secondary button--circle button--svg" target="_blank" href="https://github.com/jbschooley">{%- include svg/github.svg -%}</a>
        {%- if site.search.provider -%}
        <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button>
        {%- endif -%}
      </div>
      {%- if site.data.navigation.header -%}
      <nav class="navigation">
        <ul>
          {%- for _item in site.data.navigation.header -%}
          {%- include snippets/get-nav-url.html path=_item.url -%}
          {%- assign _nav_url = __return -%}
          {%- include snippets/get-nav-url.html path=page.url -%}
          {%- assign _page_url = __return -%}
          {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
          {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
          <li class="navigation__item navigation__item--active"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
          {%- else -%}
          <li class="navigation__item"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
          {%- endif -%}
          {%- endfor -%}
          {% comment %}<button class="button button--secondary button--circle"><i class="fa-brands fa-linkedin"></i></button>{% endcomment %}
          <li><a class="button button--secondary button--circle button--svg" target="_blank" href="https://www.linkedin.com/in/jbschooley/">{%- include svg/linkedin.svg -%}</a></li>
          <li><a class="button button--secondary button--circle button--svg" target="_blank" href="https://github.com/jbschooley">{%- include svg/github.svg -%}</a></li>
          {%- if site.search.provider -%}
          <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
          {%- endif -%}
        </ul>
      </nav>
      {%- endif -%}
    </div>

    {%- if page.show_home_banner -%}
    <div class="main home__banner">
      <h1 class="cover-heading">Hello!</h1>
      <h3 class="lead">I'm Jacob. I'm a software developer and cybersecurity student.</h3>
      <div class="row">
        <div class="column column-md-6">
          <p class="lead">Skills:</p>
          <ul class="lead list">
            <li>Python</li>
            <li>AWS</li>
            <li>GraphQL</li>
            <li>DevOps</li>
            <li>Linux</li>
            <li>API security testing, reporting, and improvement</li>
            <li>Threat detection, mitigation, and recovery</li>
            <li>Full stack web design</li>
            <li>Office 365 administration</li>
            <li>and more...</li>
          </ul>
        </div>
        <div class="column column-md-6">
          <p class="lead">Projects I've worked on:</p>
          <a class="btn btn-lg btn-default project-logo" href="https://ourco.com" target="_blank">
            <img src="assets/res/LogoOurco.webp" alt="Ourco">
          </a>
          <a class="btn btn-lg btn-default project-logo" href="https://byurideboard.com" target="_blank">
            <img src="assets/res/LogoBYURideBoard.webp" alt="BYU Ride Board">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="btn-group">
          <a href="contact.html" class="btn btn-lg btn-default">send me an email</a>
          <a href="https://www.linkedin.com/in/jbschooley/" target="_blank" class="btn btn-lg btn-default">check out my linkedin</a>
          {% comment %}<a href="#content" class="btn btn-lg btn-default">read my blog &#11015;&#65039;</a>{% endcomment %}
        </div>
      </div>
    </div>
    {%- endif -%}
  </header>
