/* start custom scss snippet */

.header {
  a, a:link, a:visited {
    &.button--secondary {
      background: none;
    }
  }
  &.with-shadow {
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  }
}

.home__banner {
  //min-height: 60vh;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  .cover-heading {
    color: #ffffff !important;
    font-weight: 500;
  }
  .lead {
    color: #ffffff !important;
    font-size: 1.25rem;
    font-weight: 300;
  }
  .list {
    max-width: max-content;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    list-style-type: "-  ";
    padding-left: 2rem;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem !important;
    &:last-child {
      padding-bottom: 1.5rem;
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  & > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .column-md-6 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  img {
    width: 100%;
  }
  .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
    margin: 0.3rem;
    border-radius: 0.8rem;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0);
    color: #333 !important;
    font-size: 1.25rem;
    &:focus, &:hover {
      background: #ffffff;
    }
  }
  .project-logo {
    background: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0);
    min-height: 110px;
    display: flex;
    img {
      margin: auto;
      width: auto;
      max-width: 100%;
      max-height: 80px;
    }
  }
  .btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    // Prevent double borders when buttons are next to each other
    > .btn:not(:first-child),
    > .btn-group:not(:first-child) {
      margin-left: -1px;
    }

    // Reset rounded corners
    > .btn:not(:last-child):not(.dropdown-toggle),
    > .btn-group:not(:last-child) > .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    // The left radius should be 0 if the button is:
    // - the "third or more" child
    // - the second child and the previous element isn't `.btn-check` (making it the first child visually)
    // - part of a btn-group which isn't the first child
    > .btn:nth-child(n + 3),
    > :not(.btn-check) + .btn,
    > .btn-group:not(:first-child) > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.home__content {
  margin-top: 1.5rem;
  .item__content {
    header {
      a:focus, a:hover {
        text-decoration: none;
      }
    }
  }
}

#email-form {
  width: 100%;
  min-height: 960px;
  border: 0;
}

.navigation {
  .button--svg {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.button--secondary, .button--secondary:visited {
  background-color: inherit;
}

.button--svg {
  padding: 0;
  svg {
    width: 1.1rem;
    height: 1.1rem;
  }
}

.header__title {
  & > .button--svg {
    display: none;
    margin-left: 0.5rem;
    @include media-breakpoint-down(md) {
      @include flexbox();
    }
  }
}

// parallax shadow
.parallax-shadow {
  .page__main-inner {
    background-color: #081a66;
    background-size: cover;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  }
  .header {
    background: none;
    .with-shadow {
      box-shadow: none;
    }
  }
  .footer {
    background: none;
  }
  .page__content {
    background: white;
  }
}

.tag-button-light {
  background-color: #d3d3d394;
  color: #081a66;
}

.site-tags {
  .tag-button {
    @include clickable($main-color-3, $light-gray-background, default, default, $text-color-2,$main-color-2, $text-color-2,$main-color-2);
  }
}

.article__info {
  .button--secondary, button--secondary:visited {
    background-color: $light-gray-background;
    color: $main-color-2;
  }
}

/* end custom scss snippet */
